*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --dark:#000000;
}
/*estilos del header*/
.header-cotainer{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-cotent{
    width: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menu-header img{
    width: 30px;
    height: 30px;
}
.profile-header img{
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 100%;
}
.contents{
    margin-right: 15px;
}